.image-container {
  display: flex;
    
  width: 300px;
  
  border:2px solid gray;
  
margin-top: 300px;  
  
  flex-wrap: wrap;
  
  
}

.image-container .imgs
{

border :2px solid grey;
text-align: center;
margin:3px;

line-height: 40px;
    
margin:12px;

width:100px;

height: 120px;
cursor:move;

}

.component-container {

  flex-wrap: nowrap;
  border: 2px solid grey;
  display: flex;
  height: 570px;
  width: 1240px;
  margin-left:300px;
  margin-top:-724px;
 


} 
